*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* social links */
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 50%;
}
.fa-pinterest{
    color: red;
}
.fa-whatsapp{
    color: green;
}
.fa-instagram{
    color: red;
}
/* social links */
/* header */
header{
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #9b9898,
                -20px -20px 60px #868686;
    justify-content: space-around;  
    align-items: center;
    height: fit-content;          
}
.random-product img{
    width: 300px;
    height: fit-content;
}
.nav-images img {
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 330px){
    header{
        display: block;
        height: fit-content;
    }
    .random-product img{
        display: none;
    }
    .header-icons{
        font-size: 15px;
    }
    .welcome-message h1{
        font-size: 25px;
        color: darkorange;
        text-align: center;
    }
}

@media screen and (max-width: 2000px){
    .random-product img{
        width: 100px;
    }
    .welcome-message h1{
        margin-top: .5rem;
        font-size: 25px;
        color: darkorange;
    }
    .welcome-message h3{
        font-size: 25px;
        
    }
    .welcome-message h5{
        font-size: 15px;
        color: darkorange;
        
    }
    .header-icons{
        font-size: 25px;
        word-spacing: 1rem;
        text-align: center;
        margin-top: .5rem;
        margin-bottom: .5rem;

    }
}
@media screen and (max-width: 300px){
    .random-product img{
        width: 90px;
    }
    .nav-images img {
        width: 100%;
    }
    .welcome-message h1{
        font-size: 20px;
        color: darkorange;
    }
    .welcome-message h3{
        font-size: 15px;
        
    }
    .welcome-message h5{
        font-size: 15px;
        color: darkorange;
        
    }
    .header-icons{
        font-size: 25px;
        word-spacing: 1rem;
        text-align: center;
        margin-top: .5rem;
    }
    
}
@media screen and (max-width: 400px){
    .welcome-message h1{
        font-size: 20px;
        color: darkorange;
    }
    .welcome-message h3{
        font-size: 15px;
        
    }
    .welcome-message h5{
        font-size: 15px;
        color: darkorange;
        
    }
    .category-title{
        font-size: 20px;
        margin-left: .5rem;
    }
}
/* header */
/* nav */
.item-nav{
    text-align: center;
    word-spacing: .5rem;
    margin-top: .2rem;
}
.item-nav a {
    text-decoration: none;
    color: green;
    font-size: 17px;
}
/* nav */
/* main flash sales */
.flash-sales{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.main-card{
    width: 190px;
}
.main-card img{
    width: 190px;
}
.main-card h4{
    color: red;
}
.main-card button {
    padding: 10px 16px;
    background-color: darkorange;
    width: 100%;
    border: none;
}
.main-card a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
@media screen and (min-width: 200px){
    /* main flash sales */
    .flash-sales{
        display: flex;
        column-gap: .5rem;
        row-gap: .2rem;
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: center;
    }
    .main-card{
        width: 140px;
        height: fit-content;
    }
    .main-card img{
        width: 140px;
        height: 140px;
    }
    .main-card h4{
        color: red;
        font-size: 13px;
    }
    .main-card h3{
        font-size: 13px;
    }
    .main-card .product-id{
        font-size: 13px;
    }
    .main-card button {
        padding: 10px 16px;
        background-color: darkorange;
        width: 100%;
        border: none;
    }
    .main-card a {
        color: black;
        font-size: 17px;
        text-decoration: none;
    }
/* main flash sales */
}
@media screen and (min-width: 350px){
    .main-card{
        width: 164px;
        height: fit-content;
    }
    .main-card img{
        width: 164px;
        height: 180px;
    }
}
@media screen and (min-width: 360px){
    .main-card{
        width: 167px;
        height: fit-content;
    }
    .main-card img{
        width: 167px;
        height: 180px;
    }
}
@media screen and (min-width: 370px){
    .main-card{
        width: 170px;
        height: fit-content;
    }
    .main-card img{
        width: 170px;
        height: 180px;
    }
}
@media screen and (min-width: 380px){
    .main-card{
        width: 175px;
        height: fit-content;
    }
    .main-card img{
        width: 175px;
        height: 180px;
    }
}
@media screen and (min-width: 390px){
    .main-card{
        width: 180px;
        height: fit-content;
    }
    .main-card img{
        width: 180px;
        height: 180px;
    }
}
@media screen and (min-width: 400px){
    .main-card{
        width: 180px;
        height: fit-content;
    }
    .main-card img{
        width: 180px;
        height: 180px;
    }
}
@media screen and (min-width: 420px){
    .main-card{
        width: 195px;
        height: fit-content;
    }
    .main-card img{
        width: 195px;
        height: 180px;
    }
}
@media screen and (min-width: 440px){
    .main-card{
        width: 205px;
        height: fit-content;
    }
    .main-card img{
        width: 205px;
        height: 210px;
    }
}
@media screen and (min-width: 470px){
    .main-card{
        width: 225px;
        height: fit-content;
    }
    .main-card img{
        width: 225px;
        height: 200px;
    }
}
@media screen and (min-width: 500px){
    .main-card{
        width: 150px;
        height: fit-content;
    }
    .main-card img{
        width: 150px;
        height: 180px;
    }
}
@media screen and (min-width: 540px){
    .main-card{
        width: 170px;
        height: fit-content;
    }
    .main-card img{
        width: 170px;
        height: 180px;
    }
}
@media screen and (min-width: 600px){
    .main-card{
        width: 190px;
        height: fit-content;
    }
    .main-card img{
        width: 190px;
        height: 180px;
    }
}
/* main flash sales */

/* footer */
footer{
    background-color: #000000;
}
.footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-menu{
    word-spacing: .5rem;
    display: flex;
    flex-direction: column;
}
.footer-menu a {
    text-decoration: none;
    color: rgb(148, 106, 106);
    font-size: 17px;
}
.footer-icons{
    font-size: 25px;
    word-spacing: 1rem;
}
/* footer */

/* flash sales */
.flash-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.flash{
    width: 100px;
    height: fit-content;
   
}
.flash img {
    width: 100px;
}
.flash button{
    padding: 10px 16px;
    background-color: darkorange;
    width: 100%;
    border: none;
}

.flash-price {
    color:green;
}
.flash p{
    color: #303030;
    font-size: 14px;
}
/* flash sales */

/* jordan advert */
.advert-jordan{
    background-color: black;
    padding: 30px;
    text-align: center;
}
.advert-jordan h2{
    color: #ffffff4b;
    font-family: monospace;
}
.jordan{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.jordan img {
    width: 100px;
    height: 150px;
}
.advert-jordan a{
   padding: 10px;
   background-color: rgb(0, 160, 0);
   text-decoration: none;
   color: black;
   border-radius: 10px;
}
/* jordan advert */